h1 {
  font-size:40px
  margin-top: 0;
  margin-bottom:15px;
}
h2, h3, h4{
  font-size:30px;
}

 p{
  border: 1px solid black;
   
     width: 90px;
   height: 150px;
   margin-right: auto
   margin-left: auto;
   font-family: Helvetica;
   
   font-size: 18px;
  }
/********** Large Device only **********/

@media (min-width: 1200){
  

.row{
  width: 100%;
  {
  
